body {
  background-color: black;
}

canvas {
  padding: 50px;
}

p {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

#jarat {
  left: 55px;
  top: 10px;

}

#irany {
  left: 350px;
  top: 10px;
}
