<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <canvas id="canvas" width="1200" height="600"></canvas>
  <p id="jarat">Járat</p>
  <p id="irany">Irány</p>
  <p id="indulas">Indulás <span>(perc)</span></p>
  <div id="megallo-container">
    <p id="megallo" style="">Astoria M</p>
    <div id="autofill" class="dropdown"></div>
  </div>

  <script src="js/chars.js"></script>
  <script src="js/api.js"></script>
  <script src="js/main.js"></script>
  <script>
    var stopId = "<%= stopId %>";
    var stopName = "<%= stopName %>";
    if (stopName[0] != "<") {
      document.querySelector("#megallo").innerText = stopName;
    }
    else {
      stopId = "BKK_CS073099";
    }
    queryApi();
  </script>
</body>
