body {
  margin: 8px;
  background-color: black;
  background-image: url(/bp1.jpg);
  background-size: cover;
}

canvas {
  padding: 50px;
  padding-bottom: 70px;
  background-color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

p {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

#jarat {
  left: 55px;
  top: 10px;

}

#irany {
  left: 270px;
  top: 10px;
}

#indulas {
  right: 55px;
  text-align: right;
  top: 10px;
}

#indulas > span {
  font-size: 25px;
  vertical-align: 10%;
}

#megallo-container {
  width: fit-content;
  position: absolute;
  left: 55px;
  top: 380px;
}

#megallo {
  position: relative;
}

#megallo:hover, #megallo:focus-within {
  border: 1px solid white;
  cursor: pointer;
}

#megallo > input {
  background-color: black;
  color: white;
  height: 1em;
  font-size: inherit;
  border: none;
}

#megallo > input:focus {
  outline: none;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#autofill > p {
  position: relative;
  cursor: pointer;
}

#megallo-container.input > .dropdown {
  display: block;
}
